# macOS
.DS_Store

# VSCode
.vscode/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Django
db.sqlite3
/staticfiles/
/media/

# Environments
.env
*.env

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.py
