{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'core/images/icons/dot.jpg' %}');">

  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate">

        <h1 style="color: rgb(0, 0, 0);" class="mb-4">Feel free to ask us anything! We’re here to help with all your
          trekking queries and ensure you have the best experience.</h1>

        <a href="tel:+91-8279454604" class="btn mb-5" style="background-color: yellow;">Call Us</a></p>
      </div>


    </div>
  </div>
</div>

<section class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
        <div class="w-100">

          <h2 class="mb-4">Welcome to Search On Climb</h2>

          Your trusted partner for unforgettable trekking adventures! We believe that
          exploring the Himalayas shouldn't be expensive, which is why we offer affordable treks without compromising
          on quality. Our team of experienced and certified guides ensures a safe and enriching journey, providing you
          with local insights and expert navigation. We also prioritize comfort by offering clean and well-maintained
          accommodations for a relaxing stay after a day of trekking. Whether you're a beginner or a seasoned trekker,
          we are here to make your trekking experience memorable, safe, and budget-friendly. Join us and explore the
          mountains like never before!
          <p><a href="#" class="btn btn-primary py-3 px-4">Book Now</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-1 d-block img"
              style="background-image: url({% static 'core/images/background/bonefire.jpg' %});">
              <div class="icon d-flex align-items-center justify-content-center"><span
                  class="flaticon-paragliding"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Activities</h3>
                <p>Enjoy trekking, camping, bonfires, sightseeing, and adventure sports with our
                  exciting activities, perfect for thrill-seekers</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-2 d-block img"
              style="background-image: url({% static 'core/images/services-2.jpg' %});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Travel Arrangements</h3>
                <p>We provide hassle-free travel arrangements, including transportation,
                  accommodation, and guided tours</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-3 d-block img"
              style="background-image: url({% static 'core/images/services-3.jpg' %});">
              <div class="icon d-flex align-items-center justify-content-center"><span
                  class="flaticon-tour-guide"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Guide</h3>
                <p>Our experienced tour guides ensure a safe, fun, and informative journey through
                  the trails.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-4 d-block img"
              style="background-image: url({% static 'core/images/services-4.jpg' %});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Thrilling Treks</h3>
                <p>We offer a variety of treks for all skill levels, from easy nature walks to
                  challenging mountain trails.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img" style="background-image: url({% static 'core/images/background/img9.jpg' %});">
          <div class="overlay"></div>

          <p>Don't hesitate to reach out! Feel free to ask for a quote and start planning your dream trekking
            adventure today.</p>
          <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}