{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'core/images/Kauri/kr3.webp' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">

                <h1 class="mb-4">Kauri Pass Trek</h1>


            </div>

        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ftco-search d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap">
                            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a style="color: green; font-size: 1.3rem;" class="nav-link active mr-md-1"
                                    id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                                    aria-controls="v-pills-1" aria-selected="true"><s style="color: red;">₹13,000</s>
                                    ₹8499</a>



                            </div>
                        </div>
                        <div class="col-md-12 tab-wrap">

                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                    aria-labelledby="v-pills-nextgen-tab">
                                    <form class="search-property-1">
                                        <div class="row no-gutters">
                                            <!-- <div class="col-md d-flex">
                                                <div class="form-group p-4 border-0">
                                                    <label for="#">Treks</label>
                                                    <div class="form-field">
                                                        <div class="icon" style="pointer-events: none;"><span
                                                                class="fa fa-search"></span></div>
                                                        <input type="text" class="form-control"
                                                            placeholder="Trek Name" id="trek">
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Start Date</label>
                                                    <div class="form-field">
                                                        <div class="icon" style="pointer-events: none;"><span
                                                                class="fa fa-calendar"></span></div>
                                                        <input type="text" class="form-control checkin_date"
                                                            placeholder="Start Date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">End Date</label>
                                                    <div class="form-field">
                                                        <div class="icon" style="pointer-events: none;"><span
                                                                class="fa fa-calendar"></span></div>
                                                        <input type="text" class="form-control checkout_date"
                                                            placeholder="End Date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Person</label>
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon" style="pointer-events: none;"><span
                                                                    class="fa fa-chevron-down"></span></div>
                                                            <select name="" id="" class="form-control">
                                                                <option value="">1</option>
                                                                <option value="">2</option>
                                                                <option value="">3</option>
                                                                <option value="">4</option>
                                                                <option value="">5</option>
                                                                <option value="">6</option>
                                                                <option value="">7</option>
                                                                <option value="">More than 8</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group d-flex w-100 border-0">
                                                    <div class="form-field w-100 align-items-center d-flex">
                                                        <input type="submit" value="Book Now"
                                                            class="align-self-stretch form-control btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



<section class="ftco-section img ftco-select-destination">

    <div class="container container-2">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-destination owl-carousel ftco-animate">
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr2.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr4.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr5.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr7.jpg' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr1.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/Kauri/kr3.webp' %});">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">

                    <div class="trek-details-container">

                        <div class="quick-facts">
                            <div class="trek-details-section">
                                If you're looking for a winter adventure in the Himalayas, the Kuari Pass Trek is an
                                incredible choice. Known as one of the best winter treks in India, this scenic journey
                                takes you through snow-covered forests, breathtaking mountain vistas, and offers a
                                chance to witness the majestic Nanda Devi peak up close. Located in the Garhwal region
                                of Uttarakhand, this trek is perfect for both beginners and experienced trekkers, making
                                it a must-visit winter trek in Uttarakhand.

                                The Kuari Pass Trek, often referred to as "Curzon's Trail," is a historic route first
                                explored by Lord Curzon. Sitting at an altitude of 12,750 feet, the trek begins from
                                Pipalkoti and takes you through Gulling Top, Tali Forest Camp, and finally to Kuari
                                Pass. Along the way, you'll witness stunning views of Himalayan peaks such as Gauri
                                Parbat, Nanda Ghunti, Hathi Parbat, Neelkanth, Dronagiri, Kamet, and Lampak I & II.

                                As you trek, you'll traverse through dense forests, charming meadows like Gorson Bugyal,
                                and alpine zones, experiencing the beauty of changing seasons. During winter, the trail
                                transforms into a snowy wonderland, where crisp mountain air and pristine white
                                landscapes create a magical setting. The trees, dusted with snow, still retain glimpses
                                of yellow and green leaves, and as you walk beneath towering pines and golden oaks, the
                                sun peeks through the branches, casting a warm glow over the trail.

                                Even for those who have completed multiple treks, the snow-draped forests of Kuari Pass
                                offer a truly breathtaking experience. The landscape, with its towering pines and dreamy
                                campsites nestled deep in the woods, creates a surreal atmosphere. After a day of
                                trekking through this winter paradise, resting at a serene campsite surrounded by
                                untouched nature is the perfect way to end an unforgettable adventure.

                                <h4 style="font-weight: bold;">Highlights</h4>

                                <ul>
                                    <li><strong>Tugasi</strong><br>
                                        The trek begins at Tugasi, offering a steady ascent through ancient oak forests.
                                        The snow-covered trail winds through towering trees, revealing glimpses of the
                                        majestic Himalayan peaks. The soft crunch of snow underfoot sets the tone for an
                                        unforgettable adventure.</li>

                                    <li><strong>Talli Forest</strong><br>
                                        A magical stretch of dense pine and oak trees, dusted with snow, creates a
                                        serene and enchanting atmosphere. Sunlight filtering through the canopy casts
                                        beautiful patterns on the forest floor, enhancing the peaceful experience. The
                                        only sounds here are your footsteps and the occasional calls of birds.</li>

                                    <li><strong>Kuari Pass</strong><br>
                                        A breathtaking vantage point that offers panoramic views of the Himalayas,
                                        making you feel on top of the world. The sight of towering peaks stretching
                                        endlessly in every direction is a reward worth every step of the climb.</li>

                                    <li><strong>Gorson Bugyal</strong><br>
                                        A stunning alpine meadow covered in a thick blanket of snow during winter. This
                                        vast expanse offers mesmerizing views of the Nanda Devi peak. The contrast
                                        between the snowfields and the dense forests below creates a picture-perfect
                                        landscape that fills trekkers with a deep sense of tranquility.</li>
                                </ul>


                            </div>


                            <div class="trek-details-section">
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">How to Reach</h4>
                                    <ul>
                                        <li><strong>Nearest Bus Stand:</strong> Dehradun / Rishikesh.</li>
                                        <li><strong>Nearest Railway Station:</strong> Dehradun / Haridwar.</li>
                                        <li><strong>Nearest Airport:</strong> Jolly Grant Airport, Dehradun.</li>
                                        <li><strong>Starting Point:</strong> Typically begins at a nearby village
                                            accessible by road.</li>
                                    </ul>
                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Itinerary</h4>
                                    <ul>
                                        <li><strong>Rishikesh to Pipalkoti</strong><br>
                                            Altitude: 1,350m / 4,400 ft.<br>
                                            Drive Distance: 220 km.</li>

                                        <li><strong>Pipalkoti to Gulling Top</strong><br>
                                            Altitude:<br>
                                            - Tugasi Village: 2,450m / 8,000 ft.<br>
                                            - Gulling Top: 2,850m / 9,400 ft.<br>
                                            Drive Distance (Pipalkoti to Tugasi): 50 km.<br>
                                            Trek Distance: 3 km.</li>

                                        <li><strong>Gulling Top to Tali Forest Camp</strong><br>
                                            Altitude: 3,350m / 11,100 ft.<br>
                                            Trek Distance: 5 km.</li>

                                        <li><strong>Tali Forest Camp to Kuari Pass and back via Khullara
                                                Top</strong><br>
                                            Altitude:<br>
                                            - Khullara Top: 3,650m / 12,000 ft.<br>
                                            - Kuari Pass: 3,900m / 12,750 ft.<br>
                                            Trek Distance: 10-11 km.</li>

                                        <li><strong>Tali Forest Camp to Pipalkoti via Gurson Bugyal and
                                                Auli</strong><br>
                                            Altitude:<br>
                                            - Tali Lake: 3,550m / 11,500 ft.<br>
                                            - Gurson Bugyal: 3,400m / 11,150 ft.<br>
                                            - Auli: 2,900m / 9,500 ft.<br>
                                            Trek Distance: 9 km.<br>
                                            Drive Distance: 45 km.<br>
                                            <em>Note: Route may vary based on weather and snow conditions.</em>
                                        </li>

                                        <li><strong>Pipalkoti to Rishikesh</strong><br>
                                            Drive Distance: 220 km.</li>
                                    </ul>


                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Necessary Items</h4>
                                    <ul>
                                        <li>Trekking shoes, warm clothing, and waterproof jackets.</li>
                                        <li>Basic first aid kit and medications for altitude sickness.</li>
                                        <li>Trekking poles, headlamp, and reusable water bottles.</li>
                                        <li>Snacks, energy bars, and a power bank.</li>
                                    </ul>
                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Local Culture</h4>
                                    <ul>
                                        During the trek, you'll pass through remote Himalayan villages where you can
                                        experience the rich culture
                                        and traditions of Uttarakhand. Interact with the locals to learn about their
                                        unique way of life, cuisine,
                                        and folklore.
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<div class="faq-container">
    <h2 style="font-weight: bold;" class="ftco-heading-2">FAQs</h2>

    <div class="faq-item">
        <button class="faq-question">
            How to book a trek?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>To book a trek, Contact SOC team on whatsapp, select your preferred trek, and follow the booking
                instructions.</p>
        </div>
    </div>



    <div class="faq-item">
        <button class="faq-question">
            How do I confirm my trekking booking?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>To confirm your booking, you need to pay a 20% advance payment. The remaining amount must be paid to the
                company before the trek starts.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            What happens if I am unable to complete the trek?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Unfortunately, if you are unable to complete the trek, the amount paid will not be refunded.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            Can I change my trek date after booking?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Yes, you can reschedule your trek, but you must inform us at least 3-4 days in advance.</p>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_scripts %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('input[type="submit"]').addEventListener("click", function (event) {
            event.preventDefault(); // Prevent form submission

            // let trek = document.querySelector('input[placeholder="Trek Name"]').value.trim();
            let startDate = document.querySelector('input[placeholder="Start Date"]').value.trim();
            let endDate = document.querySelector('input[placeholder="End Date"]').value.trim();
            let priceDropdown = document.querySelector('select.form-control');
            let price = priceDropdown ? priceDropdown.options[priceDropdown.selectedIndex].text.trim() : "";

            // Validate input
            if (!startDate || !endDate || !price) {
                alert("Please fill out all fields before booking.");
                return;
            }

            let message = `Kauri Pass Trek\nStart Date: ${startDate}\nEnd Date: ${endDate}\nPerson: ${price}`;
            let phone = "+918279454604"; // Replace with your WhatsApp number (include country code)

            let url = `https://api.whatsapp.com/send?phone=${phone}&text=${encodeURIComponent(message)}`;
            window.open(url, "_blank");
        });
    });
</script>
{% endblock %}