{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'core/images/sar/sr4.webp' %});">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">

                <h1 class="mb-4">Sar Pass Trek</h1>


            </div>

        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ftco-search d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap">
                            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a style="color: green; font-size: 1.3rem;" class="nav-link active mr-md-1"
                                    id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                                    aria-controls="v-pills-1" aria-selected="true"><s style="color: red;">₹13,000</s>
                                    ₹10499</a>



                            </div>
                        </div>
                        <div class="col-md-12 tab-wrap">

                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                    aria-labelledby="v-pills-nextgen-tab">
                                    <form class="search-property-1">
                                        <div class="row no-gutters">

                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Start Date</label>
                                                    <div class="form-field">
                                                        <div class="icon" style="pointer-events: none;"><span
                                                                class="fa fa-calendar"></span></div>
                                                        <input type="text" class="form-control checkin_date"
                                                            placeholder="Start Date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">End Date</label>
                                                    <div class="form-field">
                                                        <div class="icon" style="pointer-events: none;"><span
                                                                class="fa fa-calendar"></span></div>
                                                        <input type="text" class="form-control checkout_date"
                                                            placeholder="End Date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Person</label>
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon" style="pointer-events: none;"><span
                                                                    class="fa fa-chevron-down"></span></div>
                                                            <select name="" id="" class="form-control">
                                                                <option value="">1</option>
                                                                <option value="">2</option>
                                                                <option value="">3</option>
                                                                <option value="">4</option>
                                                                <option value="">5</option>
                                                                <option value="">6</option>
                                                                <option value="">7</option>
                                                                <option value="">More than 8</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group d-flex w-100 border-0">
                                                    <div class="form-field w-100 align-items-center d-flex">
                                                        <input type="submit" value="Book Now"
                                                            class="align-self-stretch form-control btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



<section class="ftco-section img ftco-select-destination">

    <div class="container container-2">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-destination owl-carousel ftco-animate">
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr3.avif' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr4.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr5.webp' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr6.jpg' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr7.jpg' %});">

                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project-destination">
                            <a class="img" style="background-image: url({% static 'core/images/sar/sr8.webp' %});">

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">

                    <div class="trek-details-container">

                        <div class="quick-facts">
                            <div class="trek-details-section">
                                The Sar Pass Trek, standing at an altitude of 13,799 ft, is one of the most scenic and
                                thrilling treks in Himachal Pradesh. This 50 km trail, graded as easy to moderate,
                                begins in the picturesque village of Kasol and concludes at Barshaini, taking trekkers
                                through lush pine forests, expansive meadows, and breathtaking snow-capped mountains.

                                Starting from the serene Parvati Valley, the trek begins with a hike to Grahan Village,
                                known for its traditional Himachali charm. From Grahan, the trail ascends to Min Thach,
                                a stunning meadow, followed by a trek to Nagaru, the highest campsite on the route. The
                                next leg of the journey takes you to Biskeri Thach, another mesmerizing grassland,
                                offering panoramic views of the surrounding peaks.

                                The highlight of the trek is crossing Sar Pass, where the landscape transforms into a
                                pristine, snow-covered wonderland, providing an exhilarating experience. Sar Pass Trek
                                is an excellent choice for adventure seekers and nature lovers, offering a perfect blend
                                of diverse landscapes, moderate challenges, and breathtaking views, making it one of the
                                best treks in Himachal Pradesh.

                                <h4 style="font-weight: bold;">Highlights</h4>

                                <ul>
                                    <li><strong>Altitude & Difficulty:</strong> Sar Pass is located at an altitude of
                                        13,799 ft and is an easy to moderate-grade trek, making it perfect for beginners
                                        and adventure seekers.</li>

                                    <li><strong>Trek Distance & Route:</strong> Covering approximately 50 km, the trek
                                        begins in Kasol and ends at Barshaini, passing through lush pine forests, alpine
                                        meadows, and snow-clad peaks.</li>

                                    <li><strong>Scenic Trail:</strong> The journey starts in Kasol, a quaint village in
                                        the Parvati Valley, leading to the picturesque Grahan Village. From there,
                                        trekkers ascend to Min Thach, a stunning meadow, followed by a trek to Nagaru
                                        and Biskeri Thach.</li>

                                    <li><strong>Enchanting Forests:</strong> The trail is surrounded by dense forests of
                                        Pine, Deodar, and Rhododendrons, offering a refreshing and serene trekking
                                        experience.</li>

                                    <li><strong>Starry Night Experience:</strong> A highlight of the trek is camping
                                        under a mesmerizing night sky filled with millions of stars—an unforgettable
                                        experience for nature lovers and photographers.</li>

                                    <li><strong>Varied Landscapes:</strong> One of the most fascinating aspects of Sar
                                        Pass Trek is its changing scenery. It begins with lush green vegetation and
                                        gradually transitions into a breathtaking snow-covered paradise.</li>

                                    <li><strong>Diverse Terrains:</strong> The trek takes you across a mix of terrains,
                                        including grassy meadows, dense woodlands, and snowy stretches, making it an
                                        exciting and diverse adventure.</li>

                                    <li><strong>Perfect for Beginners:</strong> The manageable difficulty level makes
                                        Sar Pass an ideal choice for first-time trekkers who want to experience the
                                        magic of Himalayan trekking without extreme challenges.</li>

                                    <li><strong>Must-Do Himalayan Adventure:</strong> With its stunning landscapes,
                                        thrilling high-altitude crossings, and captivating village trails, Sar Pass is a
                                        trek that should be on every adventure enthusiast’s bucket list.</li>
                                </ul>


                            </div>


                            <div class="trek-details-section">
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">How to Reach</h4>
                                    <ul>
                                        <li><strong>Nearest Bus Stand:</strong> Dehradun / Rishikesh.</li>
                                        <li><strong>Nearest Railway Station:</strong> Dehradun / Haridwar.</li>
                                        <li><strong>Nearest Airport:</strong> Jolly Grant Airport, Dehradun.</li>
                                        <li><strong>Starting Point:</strong> Typically begins at a nearby village
                                            accessible by road.</li>
                                    </ul>
                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Itinerary</h4>
                                    <ul>
                                        <li><strong>Day 1: Kasol to Grahan Village</strong>
                                            <ul>
                                                <li><strong>Altitude:</strong> Kasol - 1,700 m | Grahan - 2,350 m</li>
                                                <li><strong>Altitude Gain:</strong> 650 m</li>
                                                <li><strong>Drive Distance:</strong> 8 km | Duration: 45 minutes</li>
                                                <li><strong>Trek Distance:</strong> 2 km | Duration: 1 hour</li>

                                            </ul>
                                        </li>

                                        <li><strong>Day 2: Grahan to Min Thach</strong>
                                            <ul>
                                                <li><strong>Altitude:</strong> 3,400 m</li>
                                                <li><strong>Altitude Gain:</strong> 1,050 m</li>
                                                <li><strong>Trek Distance:</strong> 10 km | Duration: 5-6 hours</li>
                                                <li><strong>Terrain:</strong> First 9 km is a steep ascent, followed by
                                                    a 1 km descent</li>
                                                <li><strong>Highlights:</strong> Walk through dense forests of
                                                    Rhododendrons, Pine, and Golden Oak</li>
                                                <li><strong>Water Source:</strong> Available at Min Thach campsite
                                                    (groundwater tap)</li>

                                            </ul>
                                        </li>

                                        <li><strong>Day 3: Min Thach to Nagaru</strong>
                                            <ul>
                                                <li><strong>Altitude:</strong> 3,800 m</li>
                                                <li><strong>Altitude Gain:</strong> 400 m</li>
                                                <li><strong>Trek Distance:</strong> 6 km | Duration: 4-6 hours</li>
                                                <li><strong>Terrain:</strong> Continuous ascent</li>

                                            </ul>
                                        </li>

                                        <li><strong>Day 4: Nagaru to Biskeri Thach via Sar Pass</strong>
                                            <ul>
                                                <li><strong>Altitude:</strong> Sar Pass - 4,200 m | Biskeri Thach -
                                                    3,350 m</li>
                                                <li><strong>Altitude Gain:</strong> 400 m</li>
                                                <li><strong>Trek Distance:</strong> 14 km | Duration: 6-8 hours</li>
                                                <li><strong>Terrain:</strong> 5 km steep ascent on snow till Sar Pass
                                                    top</li>

                                            </ul>
                                        </li>

                                        <li><strong>Day 5: Biskeri Thach to Barshaini and Drive Back to Kasol</strong>
                                            <ul>
                                                <li><strong>Altitude:</strong> 2,400 m</li>
                                                <li><strong>Altitude Loss:</strong> 950 m</li>
                                                <li><strong>Trek Distance:</strong> 10 km | Duration: 4-5 hours</li>
                                                <li><strong>Drive Distance:</strong> 15 km | Duration: 40 min - 1 hour
                                                </li>
                                                <li><strong>Terrain:</strong> Entire trek is a descent</li>
                                                <li><strong>Pick-up Point:</strong> Last 2 km on an off-road stretch
                                                    till the power project</li>
                                                <li><strong>Additional Sightseeing:</strong> Visit Gurudwara Sahib
                                                    Manikaran & hot springs (extra taxi waiting charges apply)</li>
                                                <li><strong>Final Drop:</strong> Reach Kasol by 4-5 PM | Drive along the
                                                    scenic Parvati River</li>
                                            </ul>
                                        </li>
                                    </ul>


                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Necessary Items</h4>
                                    <ul>
                                        <li>Trekking shoes, warm clothing, and waterproof jackets.</li>
                                        <li>Basic first aid kit and medications for altitude sickness.</li>
                                        <li>Trekking poles, headlamp, and reusable water bottles.</li>
                                        <li>Snacks, energy bars, and a power bank.</li>
                                    </ul>
                                </div>
                                <div class="trek-details-section">
                                    <h4 style="font-weight: bold;">Local Culture</h4>
                                    <ul>
                                        During the trek, you'll pass through remote Himalayan villages where you can
                                        experience the rich culture
                                        and traditions of Uttarakhand. Interact with the locals to learn about their
                                        unique way of life, cuisine,
                                        and folklore.
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<div class="faq-container">
    <h2 style="font-weight: bold;" class="ftco-heading-2">FAQs</h2>

    <div class="faq-item">
        <button class="faq-question">
            How to book a trek?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>To book a trek, Contact SOC team on whatsapp, select your preferred trek, and follow the booking
                instructions.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            How do I confirm my trekking booking?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>To confirm your booking, you need to pay a 20% advance payment. The remaining amount must be paid to the
                company before the trek starts.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            What happens if I am unable to complete the trek?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Unfortunately, if you are unable to complete the trek, the amount paid will not be refunded.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            Can I change my trek date after booking?
            <span class="icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Yes, you can reschedule your trek, but you must inform us at least 3-4 days in advance.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('input[type="submit"]').addEventListener("click", function (event) {
            event.preventDefault(); // Prevent form submission

            // let trek = document.querySelector('input[placeholder="Trek Name"]').value.trim();
            let startDate = document.querySelector('input[placeholder="Start Date"]').value.trim();
            let endDate = document.querySelector('input[placeholder="End Date"]').value.trim();
            let priceDropdown = document.querySelector('select.form-control');
            let price = priceDropdown ? priceDropdown.options[priceDropdown.selectedIndex].text.trim() : "";

            // Validate input
            if (!startDate || !endDate || !price) {
                alert("Please fill out all fields before booking.");
                return;
            }

            let message = `Sar Pass\nStart Date: ${startDate}\nEnd Date: ${endDate}\nPerson: ${price}`;
            let phone = "+918279454604"; // Replace with your WhatsApp number (include country code)

            let url = `https://api.whatsapp.com/send?phone=${phone}&text=${encodeURIComponent(message)}`;
            window.open(url, "_blank");
        });
    });
</script>

{% endblock %}
