{% extends "base.html" %}
{% load static %}

{% block content %}


<section style="padding-top: 50px;" class="ftco-section">
	<div class="container">
		<div class="row justify-content-center pb-4">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<!-- <span class="subheading">Destination</span> -->
				<h2 class="mb-4">Trek Details</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'kedarkantha' %}" class="img"
						style="background-image: url({% static 'core/images/Kedarkantha/kd1.jpeg' %});">
						<span class="price">Rs 7999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">4 Days Trek</span>
						<h3><a>Kedarkantha Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'kedarkantha' %}" class="btn btn-secondary">Read more</a></p>
						</ul>

					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'harki' %}" class="img"
						style="background-image: url({% static 'core/images/Harki/hk2.webp' %});">
						<span class="price">Rs 9499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">4 Days Trek</span>
						<h3><a>Har Ki Dun Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'harki' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'phulara' %}" class="img"
						style="background-image: url({% static 'core/images/Phulara/ph1.webp' %});">
						<span class="price">Rs 8499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">4 Days Trek</span>
						<h3><a>Phulara Ridge Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'phulara' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'kauri' %}" class="img"
						style="background-image: url({% static 'core/images/Kauri/kr1.webp' %});">
						<span class="price">Rs 8499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">8 Days Tour</span>
						<h3><a>Kauri Pass Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'kauri' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'flowers' %}" class="img"
						style="background-image: url({% static 'core/images/Flower/fl2.webp' %});">
						<span class="price">8499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">4 Days Trek</span>
						<h3><a>Valley of Flowers</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'flowers' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'brahmatal' %}" class="img"
						style="background-image: url({% static 'core/images/Brahmatal/br1.jpg' %});">
						<span class="price">Rs 7999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Brahmatal Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'brahmatal' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'chopta' %}" class="img"
						style="background-image: url({% static 'core/images/chopta/cp2.avif' %});">
						<span class="price">Rs 7999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">4 Days Trek</span>
						<h3><a>Chopta Tungnath Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'chopta' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'dayara' %}" class="img"
						style="background-image: url({% static 'core/images/Dayara/dr1.webp' %});">
						<span class="price">Rs 7999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Dayara Bugyal Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'dayara' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'rupin' %}" class="img"
						style="background-image: url({% static 'core/images/rupin/rp8.jpg' %});">
						<span class="price">Rs 16499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Rupin Pass Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'rupin' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'bali' %}" class="img"
						style="background-image: url({% static 'core/images/Bali/bl4.jpg' %});">
						<span class="price">Rs 20999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Bali Pass Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'bali' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'sar' %}" class="img"
						style="background-image: url({% static 'core/images/sar/sr1.avif' %});">
						<span class="price">Rs 10499/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Sar Pass Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'sar' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="project-wrap">
					<a href="{% url 'hampta' %}" class="img"
						style="background-image: url({% static 'core/images/Hampta/hm7.jpg' %});">
						<span class="price">Rs 11999/person</span>
					</a>
					<div class="text p-4">
						<span class="days">7 Days Trek</span>
						<h3><a>Hampta Pass Trek</a></h3>

						<p style="color: black;"><span class="flaticon-mountains"></span> Easy to Moderate</p>
						<ul>

							<p><a href="{% url 'hampta' %}" class="btn btn-secondary">Read more</a></p>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}